.vagrant
*.swp
.tmp/
.gem
.bundle
.rubydev
*.lock
vendor/modules
test/.requirements.txt
.cache/
__pycache__
cinekid2016sourcevideos/Sjef*
cinekid2016sourcevideos/encoding-test2.mp4
cinekid2016sourcevideos/storymaker_hd.mov
