#
# Rename to:
#
# settings.yaml
#
# Uncomment lines to overwrite settings.
#
# All these settings have defaults in common.yaml which will be used if not provided here.

# configure fixed IP address of this computer
# cinekid::ip_address: 172.16.20.20

# optionally specify different network interface and/or network settings
# cinekid::gateway: 172.16.20.1
# cinekid::netmask: 255.255.255.0
# cinekid::network_interface: eth0

# # ip addresses for primary and secondary server(s)
# cinekid::nfs::primary_server: 172.16.20.20
# cinekid::nfs::secondary_servers:
#     - 172.16.20.21
#
# # works folders that need to be created
# cinekid::works:
#   - Sjef de Superchef
#   - Plastic Monstertjes
#   - FilmSpel.nl
#   - VR Stereobril
#   - VR Metropolis
#   - VideoMapping
#   - Quirkbot - Touchboard
#   - EBOTRACK
#   - Test
#
# # range of day that need to be created in works folders
# cinekid::day_start: 10
# cinekid::day_stop: 20
#
# # user and ssh key for webserver sftp sync
# cinekid::web_user: user
# cinekid::web_host: host
# cinekid::web_target: results
#
# cinekid::private_key:
#
# cinekid::public_key:
#
# # message on the smb server
# samba::server::server_string: CineKid Encode Server
